<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Leprosorium</title>
  </head>
  <body>
    <h2>Post details</h2>
    <br>

    <p>
      <%= @row['content'] %>
      <br>
      <br>
      <small>Added at:</small> <%= @row['created_date'] %>
    </p>
    <br>

    <h4>Comments:</h4>
    <br>
    <br>

    <% @comments.each do |comment| %>
      <p>
        <%= comment[:content] %>
        <br>
        <small style="font-size: 75%; color: #999">Added at: <%= comment['created_date'] %></small>
      </p>
      <hr>
    <% end %>

    <p>
      <form action="/details/<%= @row['id'] %>" method="post">


          <div class="form-group">
            <label for="exampleFormControlTextarea1"></label>
            <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Type comment text here"></textarea>
          </div>

        <button type="submit" class="btn btn-primary">Add comment</button>
      </form>
    </p>

  </body>
</html>
